body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

#navbar {
  background-color: rgba(35,47,62,1);
  color: white;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

#brand {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#search {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

#search-bar {
  height: 35px;
  width: 200px;
  border-radius: 10px;
  display: inline-block;
}

#search-btn {
  height: 35px;
  border-radius: 10px;
  display: inline-block;
}

#hist-btn {
  float: right;
  margin-top: 18px;
  margin-right: 50px;
  font-size: 14px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  background-color: #5a5a5a;
}

#cart-btn {
  font-size: 14px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  background-color: #5a5a5a;
  margin-top: 18px;
  margin-right: 20px;
  float: right;
}

.inline-div {
  display: inline-block;
  vertical-align: middle;
}

#result-detail {
  padding-top: 30px;
  border-bottom: 2px solid black;
  font-weight: bold;
}

.result {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  width: 250px;
  height: 300px;
  display: inline-block;
}

.result-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  padding-top: 20px;
}

.result-text {
  margin-left: 30px;
  width: 90%;
}

.result-name {
  font-weight: bold;
  font-size: 14px;
}

.result-price {
  color: maroon;
  font-size: 16px;
}

.result-descr {
  font-size: 14px;
  margin-top: 10px;
  vertical-align: middle;
}

.result-add {
  height: 35px;
  width: 30%;
  margin-left: 20px;
  font-size: 12px;
  color: white;
  background-color: rgba(35,47,62,1);
  border-style: none;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.cart-item {
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-img {
  height: 150px;
  width: 150px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.cart-text {
  margin-left: 30px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.cart-name {
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
}

.cart-descr {
  font-size: 14px;
  margin-top: 10px;
  vertical-align: middle;
}

.quant-label {
  width: 100px;
  margin-top: 10px;
}

.quant-btn {
  margin-top: 5px;
  width: 50px;
  cursor: pointer;
  -moz-appearance: none;
  background-position: 150px 7px;
  text-indent: .01px;
  text-overflow: "";
}

.quant {
  display: inline-block;
}

.remove-btn {
  margin-left: 1px;
  margin-top: 8px;
  font-size: 12px;
  color: maroon;
  cursor: pointer;
}

#cart-title {
  font-size: 30px;
  border-bottom: 2px solid black;
}

#cart-subtotal {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(221,221,221);
  border-radius: 5px;
  background-color: #f3f3f3;
}

#cart-sub-label {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

#cart-sub-value {
  font-size: 18px;
  color: maroon;
  display: inline-block;
  float: right;
}

#cart-sub-btn {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  background-color: rgba(35,47,62,1);
  color: white;
  border-style: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 5px;
  cursor: pointer;
}

.checkout-total {
  border-top: 1px solid black;
  margin-bottom: 10px;
}

.empty-message {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

#checkout {
  font-size: 16px;
  display: none;
}

#checkout-pay {
  margin-top: 30px;
}

.form-input {
  float: right;
  width: 60%;
}

#shipping-title {
  font-size: 20px;
  margin-right: 3px;
  cursor: pointer;
}

#payment-title {
  font-size: 20px;
  margin-right: 3px;
  cursor: pointer;
}

.form-update {
  font-size: 12px;
  color: rgba(35,47,62,1);
  float: right;
  cursor: pointer;
}

#shipping-update {
  display: none;
}

#payment-update {
  display: none;
}

#shipping-form {
  display: block;
}

#payment-form {
  display: block;
}

#shipping-form div {
  margin-top: 10px;
}

.form-submit {
  margin-top: 20px;
  height: 35px;
  width: 80px;
  background-color: #5a5a5a;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

#payment-form div {
  margin-top: 10px;
}

#billing-heading {
  margin-top: 30px !important;
}

#checkout-aside {
  margin-left: 40px;
}

#customer-title {
  font-size: 25px;
}

#customer-input {
  width: 80%;
  height: 35px;
  margin-bottom: 20px;
}

#checkout-summary {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border radius: 4px;
  padding-left: 0;
  padding-right: 0;
}

#summary-title {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 25px;
  border-bottom: 1px solid grey;
  background-color: #f3f3f3;
}

.review-img {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.review-name {
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}

.review-price {
  color: maroon;
  vertical-align: middle;
}

.review-text {
  margin-left: 20px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.review-sub {
  text-align: right;
  margin-bottom: 8px;
  padding-right: 60px;
  font-weight: bold;
}

.review-sub-value {
  color: maroon;
  padding-left: 8px;
}

.review {
  border-bottom: 1px solid grey;
}

#summary-totals {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 75%;
  font-size: 20px;
}

#summary-tax {
  border-bottom: 1px solid grey;
}

#summary-total-cost {
  font-weight: bold;
}

.summary-text {
  font-size: 18px;
  font-weight: normal;
}

.summary-value {
  float: right;
  text-align: right;
  font-size: 18px;
  color: maroon;
  font-weight: normal;
}

#order-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 90%;
  display: block;
  cursor: pointer;
  background-color: rgba(35,47,62,1);
  color: white;
  border: none;
}

.order-confirmation {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 30px;
}

#pay-info {
  display: none;
  width: 100%;
  background-color: #f3f3f3;
}

#ship-info {
  display: none;
  width: 100%;
  background-color: #f3f3f3;
}

.ship-text {
  padding: 10px;
}

.pay-text {
  padding: 10px;
}

#billing-checkbox + label {
  margin-left: 5px;
  font-weight: normal;
}

.form-label {
  display: inline-block;
  width: 25%;
  text-align: right;
}

.form-input {
  margin-left: 20px;
  width: 60%;
}

select.form-input {
  width: 10%;
}

.form-submit-val {
  margin-left: 20px;
  font-size: 16px;
  color: #e3320c;
}

.form-val {
  margin-left: 40%;
  color: #e3320c;
}

.hist-title {
  font-size: 20px;
  border-bottom: 2px solid black;
}

.hist-order {
  margin-top: 15px;
}

.hist-summary {
  background-color: #f3f3f3;
  border: 1px solid grey;
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

.hist-date {
  display: inline-block;
}

.hist-date-label {
  font-weight: bold;
  display: inline-block;
}

.hist-date-content {
  display: inline-block;
  margin-left: 5px;
}

.hist-total {
  display: inline-block;
  margin-left: 75px;
}

.hist-total-label {
  font-weight: bold;
  display: inline-block;
}

.hist-total-content {
  display: inline-block;
  margin-left: 5px;
}

.hist-item {
  width: 100%;
  border: 1px solid grey;
}

.hist-item-img {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.hist-item-text {
  display: inline-block;
}

.hist-item-name {
  font-weight: bold;
  font-size: 16px;
}

.hist-item-price {
  color: maroon;
  font-size: 14px;
}

.hidden {
  display: none;
}

.view {
  margin-top: 100px;
}
