body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

button:focus,
button:active {
  background-image: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar {
  background-color: rgba(35,47,62,1);
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

#nav-contents {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#brand {
  margin-left: 15px;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  color: rgba(240,240,240,1);
  cursor: default;
}

#search {
  margin-left: 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

#search-bar {
  height: 35px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  color: black;
  border-style: none;
  text-indent: 8px;
}

#search-bar:active,
#search-bar:focus {
  background-image: none;
  outline: none;
}

#search-btn {
  height: 35px;
  margin-left: -8px;
  vertical-align: middle;
  background-color: rgba(220,220,220,1);
  border-radius: 0;
  color: black;
  cursor: default;
}

#nav-options {
  position: absolute;
  top: 8px;
  right: 30px;
  border: 1px solid #bbb;
  background-color: rgba(240,240,240,1);
  display: inline-block;
  color: black;
  z-index: 101;
}

#cart-btn {
  position: relative;
  background: none;
  border-right: 1px solid #bbb;
  display: inline-block;
}

#cart-btn > i {
  margin-left: 10px;
}

#cart-count {
  margin-left: 3px;
  margin-right: 10px;
  font-size: 18px;
}

#cart-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#nav-menu {
  display: inline-block;
}

#nav-menu > i {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-toggle {
  border-style: none;
  background-color: transparent;
}

/*
#view-home {
  position: absolute;
  background: url("#") rgba(240,240,240,.8);
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 1000px;
}
*/

/*
#home-overlay {
  position: absolute;
  left: 0;
  height: 1000px;
  width: 100%;
  background-color: rgba(50,70,85,.9);
  position: absolute;
}
*/

#result-bar {
  border: 1px solid #d3d3d3;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 98;
  width: 100%;
}

#result-detail {
  float: left;
}

#result-sort {
  float: right;
  margin-right: 20px;
}

#result-sort > select {
  margin-left: 5px;
}

.result {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 23%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.result-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 85%;
  padding-top: 20px;
}

.result-text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.result-name {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
}

.result-price {
  margin-left: 5px;
  color: maroon;
  font-size: 16px;
}

.result-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.product-item {
  margin-top: 30px;
}

.product-img {
  height: auto;
  width: 250px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.product-detail {
  margin-left: 60px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.product-name {
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
}

.product-price {
  margin-top: 5px;
  color: maroon;
  font-size: 18px;
}

.product-descr {
  font-size: 14px;
  margin-top: 20px;
  vertical-align: middle;
}

.product-brand {
  font-size: 22px;
}

.product-size {
  margin-top: 5px;
}

.product-size-label {
  display: inline-block;
  margin-right: 10px;
}

.product-size-length {
  margin-left: 20px;
}

.product-size-btn {
  margin-top: 5px;
  width: 100px;
  -moz-appearance: none;
  background-position: 150px 7px;
  text-indent: .01px;
  text-overflow: "";
}

.add-cart-btn {
  margin-top: 20px;
  height: 50px;
  width: 30%;
  font-size: 14px;
  color: white;
  background-color: rgba(35,47,62,1);
  border-style: none;
  border-radius: 5px;
  cursor: default;
}

.cart-item {
  position: relative;
  border-bottom: 1px solid grey;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-img {
  height: 150px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.cart-text {
  margin-left: 30px;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}

.cart-name {
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
  color: grey;
}

.cart-price {
  color: maroon;
  font-size: 18px;
}

.cart-descr {
  font-size: 14px;
  margin-top: 10px;
  vertical-align: middle;
}

.quant-label {
  width: 100px;
  margin-top: 10px;
}

.quant-btn {
  margin-top: 5px;
  width: 50px;
  -moz-appearance: none;
  background-position: 150px 7px;
  text-indent: .01px;
  text-overflow: "";
}

.quant {
  position: absolute;
  top: 25%;
  right: 5%;
  display: inline-block;
  margin-left: 15%;
}

.remove-btn {
  margin-left: 1px;
  margin-top: 8px;
  font-size: 12px;
  color: maroon;
}

#cart-title {
  font-size: 30px;
  border-bottom: 2px solid black;
  margin-top: 30px;
}

#cart-subtotal {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(221,221,221);
  border-radius: 5px;
  background-color: #f3f3f3;
}

#cart-sub-label {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

#cart-sub-value {
  font-size: 18px;
  color: maroon;
  display: inline-block;
  float: right;
}

#cart-sub-btn {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  background-color: rgba(35,47,62,1);
  color: white;
  border-style: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 5px;
}

.checkout-total {
  border-top: 1px solid black;
  margin-bottom: 10px;
}

.empty-message {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

#checkout {
  font-size: 16px;
  display: none;
}

#payment-section {
  margin-top: 30px;
}

#shipping-title {
  font-size: 20px;
  margin-right: 3px;
}

#payment-title {
  margin-top: 30px;
  font-size: 20px;
  margin-right: 3px;
}

#payment-summary {
  background-color: #f3f3f3;
  width: 75%;
  padding: 10px 0 10px 12px;
  margin-left: 4px;
  margin-top: 5px;
}

#shipping-summary {
  background-color: #f3f3f3;
  width: 75%;
  padding: 5px 0 5px 12px;
  margin-left: 4px;
  margin-top: 5px;
}

#billing-checkbox {
  margin-left: 25px;
}

#billing-checkbox + label {
  margin-left: 5px;
  font-weight: normal;
}

#shipping-section {
  margin-top: 35px;
}

#payment-section {
  margin-top: 35px;
}

#shipping-form {
  display: block;
}

#payment-form {
  display: block;
}

#shipping-form div {
  margin-top: 10px;
}

#payment-form div {
  margin-top: 10px;
}

#billing-heading {
  margin-top: 30px !important;
}

#billing-heading > span {
  font-weight: bold;
}

.form-label {
  margin-left: 15px;
  display: inline-block;
  width: 18%;
  vertical-align: middle;
  text-align: left;
}

.form-input {
  margin-left: 20px;
  width: 60%;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  height: 30px;
}

input:focus:invalid {
  background-color: rgba(240,170,176,.2);
}

input:focus:valid {
  background-color: none;
}

.form-input-invalid {
  background-color: rgba(240,170,176,.2);
}

.form-submit {
  margin-top: 10px;
  margin-left: 15px;
  height: 30px;
  width: 100px;
  background-color: #5a5a5a;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

.form-update {
  font-size: 14px;
  color: rgba(5,80,180,1);
  margin-left: 30%;
}

#customer-title {
  font-size: 25px;
  margin-top: 10px;
}

#customer-email {
  font-size: 20px;
  margin-right: 3px;
  margin-top: 20px;
}

#customer-input {
  width: 70%;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  height: 35px;
}

#customer-submit {
  height: 35px;
  width: 70px;
  margin-left: 12px;
  background-color: #5a5a5a;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

#customer-confirm {
  color: rgba(29,157,115,1);
  margin-left: 10px;
}

#checkout-aside {
  margin-left: 40px;
}

#checkout-summary {
  margin-top: 40px;
  margin-left: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border radius: 4px;
  padding-left: 0;
  padding-right: 0;
}

#summary-title {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 25px;
  border-bottom: 1px solid grey;
  background-color: #f3f3f3;
}

.review-img {
  height: 100px;
  width: 100px;
  margin-left: 40px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle;
}

.review-name {
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
}

.review-price {
  color: maroon;
  vertical-align: middle;
}

.review-text {
  margin-left: 20px;
  margin-top: 20px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

.review-sub {
  text-align: right;
  margin-bottom: 8px;
  padding-right: 60px;
  font-weight: bold;
}

.review-sub-value {
  color: maroon;
  padding-left: 8px;
}

.review {
  border-bottom: 1px solid grey;
}

#summary-totals {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 75%;
  font-size: 20px;
}

#summary-tax {
  border-bottom: 1px solid grey;
}

#summary-total-cost {
  font-weight: bold;
}

.summary-text {
  font-size: 18px;
  font-weight: normal;
}

.summary-value {
  float: right;
  text-align: right;
  font-size: 18px;
  color: maroon;
  font-weight: normal;
}

#order-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 90%;
  display: block;
  background-color: rgba(35,47,62,1);
  color: white;
  border: none;
}

.order-confirmation {
  margin-top: 30px;
  font-size: 20px;
}

.hist-title {
  font-size: 20px;
  border-bottom: 2px solid black;
}

.hist-order {
  margin-top: 15px;
}

.hist-summary {
  background-color: #f3f3f3;
  border: 1px solid grey;
  width: 100%;
  padding: 15px;
  font-size: 14px;
}

.hist-date {
  display: inline-block;
}

.hist-date-label {
  font-weight: bold;
  display: inline-block;
}

.hist-date-content {
  display: inline-block;
  margin-left: 5px;
}

.hist-total {
  display: inline-block;
  margin-left: 75px;
}

.hist-total-label {
  font-weight: bold;
  display: inline-block;
}

.hist-total-content {
  display: inline-block;
  margin-left: 5px;
}

.hist-item {
  width: 100%;
  border: 1px solid grey;
}

.hist-item-img {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.hist-item-text {
  display: inline-block;
}

.hist-item-name {
  font-weight: bold;
  font-size: 16px;
}

.hist-item-price {
  color: maroon;
  font-size: 14px;
}

.hidden {
  display: none;
}

.view {
  margin-top: 70px;
}

#search-content {
  margin-top: 50px;
}

#brand:hover,
#cart-btn:hover,
#cart-sub-btn:hover,
#customer-submit:hover,
#ship-submit:hover,
#pay-submit:hover,
.result:hover,
.add-cart-btn:hover,
.remove-btn:hover,
.order-btn:hover {
  cursor: default;
  transform: scale(1.02);
}
